<head>
    <meta charset="UTF-8">
    <!-- Basic -->
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keyword }}">
    <link rel="icon" href="{{ '/' | relative_url }}assets/img/favicon.ico" />

    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ '/' | absolute_url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ '/' | relative_url }}assets/img/header-preview.jpg" />
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">

    <!-- Responsive  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ site.shortname }}">
    <link rel="apple-touch-icon" href="{{ '/' | relative_url }}assets/img/logo-apple.png" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ '/' | relative_url }}assets/css/styles.css">
    <link rel="stylesheet" href="{{ '/' | relative_url }}assets/css/normalize.min.css">
    <link rel="stylesheet" href="{{ '/' | relative_url }}assets/css/github-markdown.css">
    <link rel="stylesheet" href="{{ '/' | relative_url }}assets/css/prism.css">
    <link rel="stylesheet" href="{{ '/' | relative_url }}assets/css/fontawesome.css">

    <!-- Javascript -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
</head>
