// ++++++++++++++++++++++
// Mixins
// ++++++++++++++++++++++
.post-content > .markdown-body {
  img + em {
    display: block;
    margin-top: -16px;
    text-align: center;
  }
}

@media (min-width: 1310px) {

  .toc-container {
    display: none;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 10px;
    width: calc(50% - 390px);
    z-index: 100;

    &.fixed {
      position: fixed;
    }

    .side-toc {
      position: relative;

      .title {
        padding: 25px 0;
      }

      .toc-body {
        li {
          position: relative;

          a {
            color: #a6a6a6;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            max-width: 100%;
            overflow: hidden;
            padding-left: 10px;
            text-decoration: none;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
          }

          &.active {
            background-color: #f5f5f5;
            border-radius: 4px;

            a {
              color: #0085a1 ;
            }
          }
          @for $i from 1 through 6 {
            &.h#{$i}_nav {
              left: 10px * ($i - 1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1310px) {
  .toc-container {
    display: none !important;
  }
}
